
<div class="wrapper" style="text-align:center;">
  <h1><%=@city.name%></h1>
</div>

<div class="container">
  <div class="col-lg-4">
    <div class="well">
      <div class="row">
        <div class="" style="text-align:center;">
          <h3>Current Trains</h3>
          </div>
          <ul>
            <% trains = City.get_all_trains_in_city(@city) %>
            <% trains.each do |train| %>
              <li>
              <a href="/update_train/<%= train.number %>"><%= train.name %> : # <%= train.number %></a>
              <form class="" action="/update_city/<%= train.number %>/<%= @city.id %>" method="post">
                  <button type="submit" class ="btn btn-primary" name="button">Delete</button>
              </form></li>
            <%end%>
          </ul>
        </div>
      </div>
  </div>

  <div class="col-lg-4 col-lg-offset-4">
    <div class="well">
      <div class="row">
        <form class="" action="/add_train" method="post">
          <div class="" style="text-align:center;">
            <div class="" style="padding-top:12px;">
              <input type="text" name="name" placeholder="Enter A Name...">
              <input name="city" value="<%= @city.name %>" hidden>
              <button type="submit" class="btn btn-primary" name="">Add Another Train</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
